body {
  background-color: #161A37;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23161a37' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23161a37' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23161a37' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23161a37' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23161A37' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #D9D9D9;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #D9D9D9;
}

img {
  max-width: 100%;
}

.holder {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}
.holder a {
  max-width: 30%;
}

.boxes {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.sections {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #161A37;
  background-color: #D9D9D9;
  padding-left: 5px;
  padding-right: 5px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  color: #161A37;
  background-color: #D9D9D9;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
footer a {
  color: #161A37;
  text-decoration: underline #161A37;
  margin-left: 5px;
  margin-right: 5px;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
}
nav a {
  color: #161A37;
  font-size: larger;
  margin-left: 5px;
  margin-right: 5px;
}

#title {
  margin-left: 5px;
  margin-right: 5px;
  color: #161A37;
}

#current {
  text-decoration: underline #161A37;
}

.things {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.things:last-child {
  margin-bottom: 10px;
}
.things div {
  margin-left: 10px;
  margin-right: 10px;
}
.things div h2 {
  margin: 0px;
}
.things img {
  max-width: 35%;
  object-fit: contain;
  vertical-align: top;
}
.things p {
  font-size: larger;
}

.sideOne {
  flex-flow: row;
  text-align: left;
}

.sideTwo {
  flex-flow: row-reverse;
  text-align: right;
}

.images {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 700px) {
  .things {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .things div h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .things div p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .things img {
    max-width: 60%;
  }
}
@media (max-width: 600px) {
  .holder {
    flex-flow: column;
  }
  .holder a {
    max-width: 100%;
  }
  .holder img {
    max-width: 60%;
  }
  .holder .boxes:first-child {
    margin-top: 0px;
  }
  .holder h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .boxes {
    margin-left: 0px;
    margin-right: 0px;
  }
}/*# sourceMappingURL=style.css.map */