body {
    background-color: #161A37;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23161a37' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23161a37' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23161a37' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23161a37' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23161A37' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #D9D9D9;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #D9D9D9;
}

img {
    max-width: 100%;
}

.holder {
    display: flex;
    justify-content: space-around;
    margin: {
        left: 20px;
        right: 20px;
    }
    a {
        max-width: 30%;
    }
}

.boxes {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.sections {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #161A37;
    background-color: #D9D9D9;
    padding: {
        left: 5px;
        right: 5px;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    color: #161A37;
    background-color: #D9D9D9;
    padding: {
        top: 10px;
        bottom: 10px;
    }
    p {
        margin: {
            top: 0px;
            bottom: 0px;
            left: 5px;
            right: 5px;
        }
    }
    a {
        color: #161A37;
        text-decoration: underline #161A37;
        margin: {
            left: 5px;
            right: 5px;
        }
    }
}

nav {
    a {
        color: #161A37;
        font-size: larger;
        margin: {
            left: 5px;
            right: 5px;
        }
    }
    margin: {
        top: 10px;
        bottom: 10px;
    }
}

#title {
    margin: {
        left: 5px;
        right: 5px;
    }
    color: #161A37;
}

#current {
    text-decoration: underline #161A37;
}

.things {
    display: flex;
    margin: {
        left: 20px;
        right: 20px;
        bottom: 50px;
    }
    &:last-child {
        margin-bottom: 10px;
    }
    div {
        margin: {
            left: 10px;
            right: 10px;
        }
        h2 {
            margin: 0px;
        }
    }
    img {
        max-width: 35%;
        object-fit: contain;
        vertical-align: top;
    }
    p {
        font-size: larger;
    }
}
.sideOne {
    flex-flow: row;
    text-align: left;
}
.sideTwo {
    flex-flow: row-reverse;
    text-align: right;
}

.images {
    margin: {
        left: 10px;
        right: 10px;
    }
}

@media (max-width: 700px){
    .things {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        div {
            h2 {
                margin: {
                    top: 0.5em;
                    bottom: 0.5em;
                }
            }
            p {
                margin: {
                    top: 0;
                    bottom: 0;
                }
            }
        }
        img {
            max-width: 60%;
        }
    }
}

@media (max-width: 600px) {
    .holder {
        flex-flow: column;
        a {
            max-width: 100%;
        }
        img {
            max-width: 60%;
        }
        .boxes {
            &:first-child {
                margin-top: 0px;
            }
        }
        h2 {
            margin: {
                top: 0.5em;
                bottom: 0.5em;
            }
        }
    }
    .boxes {
        margin: {
            left: 0px;
            right: 0px;
        }
    }
}