body {
    background-color: #161A37;
    color: #D9D9D9;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #D9D9D9;
}

img {
    max-width: 100%;
}

.holder {
    display: flex;
    margin: {
        left: 20px;
        right: 20px;
    }
}

.boxes {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.sections {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #161A37;
    background-color: #D9D9D9;
    padding: {
        left: 5px;
        right: 5px;
    }
}

footer {
    color: #161A37;
    background-color: #D9D9D9;
    padding: {
        top: 10px;
        bottom: 10px;
        left: 5px;
        right: 5px;
    }
    p {
        margin: {
            top: 0px;
            bottom: 0px;
        }
    }
}

nav {
    a {
        color: #161A37;
        font-size: larger;
        margin: {
            left: 5px;
            right: 5px;
        }
    }
    margin: {
        top: 10px;
        bottom: 10px;
    }
}

#title {
    margin: {
        left: 5px;
        right: 5px;
    }
    color: #161A37;
}

#current {
    text-decoration: underline #161A37;
}

.things {
    display: flex;
    margin: {
        left: 20px;
        right: 20px;
        bottom: 50px;
    }
    &:last-child {
        margin-bottom: 10px;
    }
    div {
        margin: {
            left: 10px;
            right: 10px;
        }
        h2 {
            margin: 0px;
        }
    }
    img {
        max-width: 35%;
        object-fit: contain;
        vertical-align: top;
    }
    p {
        font-size: larger;
    }
}
.sideOne {
    flex-flow: row;
    text-align: left;
}
.sideTwo {
    flex-flow: row-reverse;
    text-align: right;
}

@media (max-width: 700px){
    .things {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        div {
            h2 {
                margin: {
                    top: 0.5em;
                    bottom: 0.5em;
                }
            }
            p {
                margin: {
                    top: 0;
                    bottom: 0;
                }
            }
        }
        img {
            max-width: 60%;
        }
    }
}

@media (max-width: 600px) {
    .holder {
        flex-flow: column;
        img {
            max-width: 60%;
        }
        .boxes {
            &:first-child {
                margin-top: 0px;
            }
        }
        h2 {
            margin: {
                top: 0.5em;
                bottom: 0.5em;
            }
        }
    }
    .boxes {
        margin: {
            left: 0px;
            right: 0px;
        }
    }
}